<ion-view view-title="Add New Receipt">
  <ion-content>
    <ion-list>
      <ion-item class = "item-input">
        <span class="input-label">Shopped At</span>
        <input type="text" ng-model = "newReceiptCtrl.receiptObj.shoppedAt" placeholder="Name of the shop">
      </ion-item>

      <ion-item class="item-input">
        <span class="input-label">Type</span>
          <select ng-model="newReceiptCtrl.receiptObj.shopType">
          <option ng-repeat="shopType in newReceiptCtrl.shopTypes" value="{{shopType.type}}">{{shopType.type}}</option>
          </select>
      </ion-item>

      <ion-item class = "item-input">
        <span class="input-label">Total</span>
        <input type="number" ng-model = "newReceiptCtrl.receiptObj.total" placeholder="in Rs.">
      </ion-item>
    
      <ion-item class="item-stacked-label">
        <span class="input-label">Select Date</span>
        <ionic-datepicker input-obj="datepickerObjectPopup">
          <button class="button button-outline button-small button-assertive"> {{datepickerObjectPopup.inputDate | date:'dd - MMMM - yyyy'}}</button>
        </ionic-datepicker>
      </ion-item>
    </ion-list>


    
    <button class="button button-block button-dark" ng-click="newReceiptCtrl.create()">
      Add
    </button>
  </ion-content>
</ion-view>

