<ion-view view-title="Receipts">
  <ion-content ng-show = "receiptsCtrl.currentUser()">

  <div class="list card" ng-repeat = "receipt in receiptsCtrl.receipts | orderBy: '-dateInMs'">
    <div class="item item-avatar">
      <img ng-src="./img/{{receipt.shopType | lowercase }}.png">
      <h2>{{receipt.shopName}}</h2>
      <p>{{receiptsCtrl.getDate(receipt.date)}}</p>
      <span class="badge badge-assertive">Rs. {{receipt.total}}</span>
    </div>

    <div class="item">
      <img class = "full-image" ng-src="{{receipt.imageString}}">
    </div>

    <div class="item item-text-wrap">
    <h3>{{receipt.comments}}</h3>
    </div>
  </div>

  </ion-content>
</ion-view>
