<ion-view view-title="Receipts">
  <ion-content>

  <div class="list card" ng-repeat = "receipt in receiptsCtrl.receipts | orderBy: '-dateInMs'">
    <div class="item item-avatar">
      <img ng-src="./img/{{receipt.shopType | lowercase }}.png">
      <h2>{{receipt.shopName}}</h2>
      <p>{{receiptsCtrl.getDate(receipt.date)}}</p>
    </div>

    <div class="item">
      <img class = "full-image" ng-src="{{receipt.imageString}}">
    </div>

    <div class="item">
    <h2>Rs. {{receipt.total}}</h2>
    </div>
  </div>

  </ion-content>
</ion-view>
